{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-container">

    <!-- Left side (Logo) -->
    <div class="left-side">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Cozy Cup Logo">
    </div>

    <!-- Right side (Login Form) -->
    <div class="right-side">
        <div class="login-form">
            <h2>Cozy Cup Admin Login</h2>
            <form method="POST" action="{{ url_for('main.login') }}">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <p><a href="{{ url_for('main.reset_password') }}">Forgot Password?</a></p>

            </form>
        </div>
    </div>
</div>


{% endblock %}